<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tempstyle.css">
    <title>Template</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <input type="checkbox">
            <div class="hamburger">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="#page">HOME</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#sports">Category</a></li>
                <li><a href="#info">INFO</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
            <h1 class="logo">AAD</h1>
        </div>
    </nav>
    <section class="page-1" id="page">
        <div class="page-1-container">
            <h1 class="main-tittle">Wake Up, Warm Up, Play, Repeat!</h1>
        <p>Active in sports is good for your health.</p>
        <a href="#sports" class="button btn-primary">INFORMATION</a>
        </div>
    </section>
        <section id="about">
            <div class="about-wrapper container">
                <div class="about-text">
                    <h2>Playing Sports For Your Better Health!</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque provident veniam cumque numquam nisi ex rem nulla quia iure velit molestiae modi quos, voluptates possimus dolorum, quisquam ullam culpa repudiandae sapiente quae expedita eos deserunt? Iste optio perferendis nemo reiciendis.</p>
                </div>
                <div class="about-img">
                    <img src="./main.jpg" alt="About">
                </div>
            </div>
        </section>
        <section id="sports" style="padding-top: 30px;">
            <h2>Types Of Sports</h2>
            <div class="sports-container container">
                <div class="sports-type indoor">
                    <div class="img-container">
                        <img src="./sports1.gif" alt="indoor">
                        <div class="img-content">
                            <h3>INDOOR SPORTS</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel a animi maiores quo, suscipit nemo.</p>
                            <a href="https://en.wikipedia.org/wiki/Category:Indoor_sports" class="button btn-primary" target="_blank">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="sports-type outdoor">
                <div class="img-container">
                    <img src="./sports2.gif" alt="outdoor">
                    <div class="img-content">
                        <h3>OUTDOOR SPORTS</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel a animi maiores quo, suscipit nemo.</p>
                        <a href="https://en.wikipedia.org/wiki/Outdoor_recreation" class="button btn-primary" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
                    <div class="sports-type olympics">
                        <div class="img-container">
                            <img src="./olympics.gif" alt="olympics">
                            <div class="img-content">
                                <h3>OLYMPICS</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel a animi maiores quo, suscipit nemo.</p>
                                <a href="https://en.wikipedia.org/wiki/Olympic_Games" class="button btn-primary" target="_blank">Learn More</a>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
        <section id="info" style="padding-top: 30px;">
            <h2 class="info-heading">
                INFORMATION
            </h2>
            <div class="info-container container">
                 <div class="info-list">
                     <div class="info-image">
                         <img src="./tnns.gif" alt="">
                     </div>
                     <div class="info-details">
                         <h2 class="sports-title">TENNIS</h2>
                         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vitae!.</p>
                     </div>
                 </div>
                 <div class="info-list">
                    <div class="info-image">
                        <img src="./rnng.gif" alt="">
                    </div>
                    <div class="info-details">
                        <h2 class="sports-title">RUNNING</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vitae!.</p>
                    </div>
                </div>
           <div class="info-list">
            <div class="info-image">
                <img src="./tbtn.gif" alt="">
            </div>
            <div class="info-details">
                <h2 class="sports-title">TABLE TENNIS</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vitae!.</p>
            </div>
        </div>
            <div class="info-list">
             <div class="info-image">
        <img src="./bdmtn.gif" alt="">
    </div>
        <div class="info-details">
        <h2 class="sports-title">BADMINTON</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vitae!.</p>
    </div>
    </div>
        <div class="info-list">
        <div class="info-image">
        <img src="./wtlf.gif" alt="">
    </div>
        <div class="info-details">
        <h2 class="sports-title">Weight-Lifting</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vitae!.</p>
    </div>
    </div>
        <div class="info-list">
        <div class="info-image">
        <img src="./arhy.gif" alt="">
    </div>
    <div class="info-details">
        <h2 class="sports-title">ARCHERY</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, vitae!.</p>
            </div>
        </div>
            </div>
        </section>
        <section id="contact">
            <div class="contact-container container">
                <div class="contact-img">
                    <img src="./oly.jpg" alt="">
                </div>
                <div class="form-container">
                    <script>
                        let saveFile = () => {

                            const name = document.getElementById('txtName');
                            const email = document.getElementById('txtEmail');
                            const msg = document.getElementById('msg');

                            let data = 
                                '\r Name: ' + name.value + ' \r\n ' + 
                                'Email: ' + email.value + ' \r\n ' + 
                                'Message: ' + msg.value;

                            const textToBLOB = new Blob([data], { type: 'text/plain' });
                            const sFileName = 'formData.txt';	   // The file to save the data.
                    
                            let newLink = document.createElement("a");
                            newLink.download = sFileName;
                    
                            if (window.webkitURL != null) {
                                newLink.href = window.webkitURL.createObjectURL(textToBLOB);
                            }
                            else {
                                newLink.href = window.URL.createObjectURL(textToBLOB);
                                newLink.style.display = "none";
                                document.body.appendChild(newLink);
                            }
                    
                            newLink.click(); 
                        }
                    </script>
                    <input type="text" name="" id="txtName" placeholder="Name">
                    <input type="text" name="" id="txtEmail" placeholder="E-Mail">
                    <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Type Your Feedback here"></textarea>
                    <a href="#" class="button btn-primary" onclick="saveFile()" >SUBMIT</a>
                </div>
            </div>
        </section>
</body>
</html>